<!doctype html>
<html data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/output.css" rel="stylesheet" />
        <title>Go Maro</title>
    </head>
    <body
        class="h-screen bg-gray-900 text-sky-200 flex flex-col justify-center items-center"
    >
        <form
            id="form"
            class="flex flex-col gap-4"
            method="POST"
            onsubmit="submitForm(event)"
        >
            <label id="sourceLabel" for="source"></label>
            <input
                class="border p-2 focus:outline-none"
                oninput="validateSource(event)"
                placeholder="source"
                name="source"
                id="source"
                type="text"
            />

            {{ if .AliasMessage }}

            <label for="alias"> {{.AliasMessage}} </label>

            {{ end }}
            <input
                class="border p-2"
                placeholder="alias"
                name="alias"
                id="alias"
                type="text"
            />
            <button
                class="p-2 border hover:bg-sky-200/10 active:bg-sky-200/25"
                type="submit"
            >
                Shorten!
            </button>
        </form>

        <script>
            var sourceMessage = "";

            function updateLabel() {
                document.getElementById("sourceLabel").innerText =
                    sourceMessage;

                if (sourceMessage.length > 0) {
                    document
                        .getElementById("source")
                        .classList.add("border-red-500");
                    return;
                }
                document
                    .getElementById("source")
                    .classList.remove("border-red-500");
            }

            function validateSource(e) {
                const value = event.target.value;
                sourceMessage = "";

                // check empty
                if (value.length == 0) {
                    sourceMessage = "no source!";
                    updateLabel();
                    return;
                }
                // check max length
                if (value.length > 128) {
                    sourceMessage = "URL terlalu panjang!";
                    updateLabel();
                    return;
                }
                // URL validation
                const pattern =
                    /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
                let valid = pattern.test(value);
                sourceMessage = valid ? "" : "URL tidak valid!";
                updateLabel();
            }
        </script>
    </body>
</html>
