<!doctype html>
<html data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/output.css" rel="stylesheet" />
        <title>Go Maro</title>
    </head>
    <body
        class="h-screen bg-gray-900 text-sky-200 flex flex-col justify-center items-center"
    >
        <form class="flex flex-col gap-4" method="POST">
            <input
                class="border p-2"
                oninput="validateSource()"
                placeholder="source"
                name="source"
                type="text"
                value=""
            />
            <input
                class="border p-2"
                placeholder="alias"
                name="alias"
                type="text"
                value=""
            />
            <button
                class="p-2 border hover:bg-sky-200/10 active:bg-sky-200/25"
                type="submit"
            >
                Shorten!
            </button>
        </form>

        <script>
            function validateSource() {
                alert("Hello World");
            }
        </script>
    </body>
</html>
