@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Ubuntu", sans-serif;
}

@layer base {
    html,
    body,
    main {
        @apply size-full;
    }

    input {
        @apply transition-colors duration-100 border border-white/10 p-2 outline-0 focus:outline-2 focus:outline-green-300/50;
    }

    dialog:modal {
        max-width: 100vw;
        max-height: 100vh;
    }
}
