:root {
  --primary: #324642;
  --secondary: #c9cfc4;
}

* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

html, body, #app {
  background-color: var(--secondary);
  color: var(--primary);
  height: 100%;
  width: 100%;
  overflow:hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

header, main {
  padding: 0.8rem;
}

header {
  color: var(--secondary);
  background-color: var(--primary);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.8);
}